In [79]:

import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
from ESRNN.m4_data import prepare_m4_data
from ESRNN.utils_evaluation import evaluate_prediction_owa
from ESRNN import ESRNN

In [85]:
X_train_df, y_train_df, X_test_df, y_test_df = prepare_m4_data(dataset_name='Hourly',
                                                               directory='.',
                                                               num_obs=1000)

In [87]:

X_train_df.head()

  unique_id                  ds      x
0        H1 1970-01-01 00:00:00  Other
1        H1 1970-01-01 01:00:00  Other
2        H1 1970-01-01 02:00:00  Other
3        H1 1970-01-01 03:00:00  Other
4        H1 1970-01-01 04:00:00  Other

In [82]:
y_test_df.head()

  unique_id         ds       y  y_hat_naive2
0        Y1 1970-02-01  7290.2        7261.1
1        Y1 1970-02-02  7392.6        7261.1
2        Y1 1970-02-03  7527.6        7261.1
3        Y1 1970-02-04  7594.8        7261.1
4        Y1 1970-02-05  7720.7        7261.1

In [29]:
import pandas as pd
yearly=pd.read_csv('Yearly-train.csv')
yearly.describe().to_csv('yearly_describe.csv')

In [42]:
X_train_df['unique_id']

0          Y1
1          Y1
2          Y1
3          Y1
4          Y1
         ...
34876    Y999
34877    Y999
34878    Y999
34879    Y999
34880    Y999
Name: unique_id, Length: 34881, dtype: object

In [83]:
model = ESRNN(max_epochs=25, freq_of_test=5, batch_size=4, learning_rate=1e-4,
              per_series_lr_multip=0.8, lr_scheduler_step_size=10,
              lr_decay=0.1, gradient_clipping_threshold=50,
              rnn_weight_decay=0.0, level_variability_penalty=100,
              testing_percentile=50, training_percentile=50,
              ensemble=False, max_periods=25, seasonality=[],
              input_size=4, output_size=6,
              cell_type='LSTM', state_hsize=40,
              dilations=[[1], [6]], add_nl_layer=False,
              random_seed=1, device='cpu')

In [84]:
model.fit(X_train_df, y_train_df, X_test_df, y_test_df,y_hat_benchmark='y_hat_naive2')

# Predict on test set
y_hat_df = model.predict(X_test_df)

# Evaluate predictions
final_owa, final_mase, final_smape = evaluate_prediction_owa(y_hat_df, y_train_df,
                                                             X_test_df, y_test_df,
                                                             naive2_seasonality=1)

Infered frequency: D
=============== Training ESRNN  ===============

========= Epoch 0 finished =========
Training time: 2.10075
Training loss (50 prc): 1.08207
Testing loss  (50 prc): 0.06051
OWA: 0.984
SMAPE: 13.94
MASE: 3.87
========= Epoch 1 finished =========
Training time: 2.06653
Training loss (50 prc): 1.07865
========= Epoch 2 finished =========
Training time: 2.21196
Training loss (50 prc): 1.04170
========= Epoch 3 finished =========
Training time: 2.32972
Training loss (50 prc): 1.05056
========= Epoch 4 finished =========
Training time: 2.30069
Training loss (50 prc): 1.06261
========= Epoch 5 finished =========
Training time: 2.2328
Training loss (50 prc): 1.06209
Testing loss  (50 prc): 0.05886
OWA: 0.92
SMAPE: 13.11
MASE: 3.594
========= Epoch 6 finished =========
Training time: 2.14346
Training loss (50 prc): 1.06603
========= Epoch 7 finished =========
Training time: 2.14183
Training loss (50 prc): 1.04888
========= Epoch 8 finished =========
Training time: 2.02791
Training loss (50 prc): 1.05703
========= Epoch 9 finished =========
Training time: 2.08757
Training loss (50 prc): 1.07130
========= Epoch 10 finished =========
Training time: 2.0394
Training loss (50 prc): 1.01517
Testing loss  (50 prc): 0.05729
OWA: 0.881
SMAPE: 12.727
MASE: 3.394
========= Epoch 11 finished =========
Training time: 1.98867
Training loss (50 prc): 1.06810
========= Epoch 12 finished =========
Training time: 2.05769
Training loss (50 prc): 1.08203
========= Epoch 13 finished =========
Training time: 1.98608
Training loss (50 prc): 1.05894
========= Epoch 14 finished =========
Training time: 2.27
Training loss (50 prc): 1.06072
========= Epoch 15 finished =========
Training time: 2.13553
Training loss (50 prc): 1.08586
Testing loss  (50 prc): 0.05713
OWA: 0.88
SMAPE: 12.706
MASE: 3.393
========= Epoch 16 finished =========
Training time: 2.2444
Training loss (50 prc): 1.05016
========= Epoch 17 finished =========
Training time: 2.20231
Training loss (50 prc): 1.04549
========= Epoch 18 finished =========
Training time: 2.10523
Training loss (50 prc): 1.05321
========= Epoch 19 finished =========
Training time: 2.1046
Training loss (50 prc): 1.06644
========= Epoch 20 finished =========
Training time: 2.01705
Training loss (50 prc): 1.04247
Testing loss  (50 prc): 0.05769
OWA: 0.879
SMAPE: 12.718
MASE: 3.385
========= Epoch 21 finished =========
Training time: 2.10643
Training loss (50 prc): 1.04932
========= Epoch 22 finished =========
Training time: 2.11143
Training loss (50 prc): 1.07308
========= Epoch 23 finished =========
Training time: 2.05628
Training loss (50 prc): 1.05901
========= Epoch 24 finished =========
Training time: 2.02681
Training loss (50 prc): 1.03902
Train finished!

===============  Model evaluation  ==============
OWA: 0.879
SMAPE: 12.716
MASE: 3.385

In [65]:
y_hat_df = model.predict(X_test_df)

# Evaluate predictions
final_owa, final_mase, final_smape = evaluate_prediction_owa(y_hat_df, y_train_df,
                                                             X_test_df, y_test_df,
                                                             naive2_seasonality=1)

===============  Model evaluation  ==============
OWA: nan
SMAPE: nan
MASE: nan